.productList{
    flex:4
}


.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: rgb(126, 213, 126);
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.productListDelete{
    color: red;
    cursor: pointer;
    
}

.productListImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.productListItem{
    display: flex;
    align-items:center ;

}